body {
	background-color: teal;
}

body div.micalcu {
	text-align: center;
	width: 214px;
	margin: 0 auto;
}

div input[type='button'], button {
	width: 50px;
	height: 50px;
	margin: 2px 0;
}

div input[type="text"] {
	height: 50px;
	width: 100%;
	background-color: brown;
	color: #fff;
	padding: 12px 20px;
    margin-top: 100px;
    margin-bottom: 4px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #777;
}

div.resultados input, div.resultados button {
	height: 50px;
	width: 104px;
}

div.resultados button {
	background-color: yellowgreen;
	color: #fff;
	border: 1px solid red;
}

div.resultados input {
	background-color: blue;
	color: #fff;
	border: 1px solid #fd7202;
}

#mas, #resta, #por, #dividir {
	background-color: slateblue;
	color: #fff;
	border: 1px solid black;
	font-size: 16px;
}